* {
    padding: 0;
    margin: 0;  
}

.titulo {
    color:  rgba(255, 255, 255, 0.9); 
    text-shadow: 0px 0px 30px #747dff;
    background-color: rgba(7, 38, 78, 0.1); 
    border-radius: 10px;
    text-align: center;  
    border: 1px solid #747dff17 ;
}

.imagen-detalles {
    position: absolute;
    filter: blur(35px);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: block;
    z-index: -1;
}

.imagen-detalles-desc {
    position: absolute;
    filter: blur(50px);
    height: 50%;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: block;
    z-index: -1;
    top: 80px;  

}

.imagen-detalle-div {
    background-color: rgba(7, 38, 78, 0.1); 

    border-radius: 10px;
    display: flex;
    position: relative;
}


.div-padre-desc {
    position: relative;
    background-color: rgba(7, 38, 78, 0.1); 
    border-radius: 10px;
    color: aliceblue;
}

.descripcion-descripcion {
    background-color: rgba(7, 38, 78, 0.1); 
    border-radius: 10px;
    text-align:left;
}

.boton-1 {
    background-color: rgba(7, 78, 78, 0.5); 
    border: 1px solid rgba(7, 78, 78, 0.5) ;
    color: aliceblue;
    text-shadow: 0px 0px 20px #747dff;
    transition: transform 500ms ease;

}

.boton-1:hover {
    text-shadow: 0px 0px 20px #74c0ff;
    color: rgb(118, 239, 255);
    border-color:  rgb(118, 216, 255);
    transform: translateY(-5px);

}


.boton-2 {
    background-color: rgba(139, 0, 0, 0.2); 
    border: 1px solid rgba(139, 0, 0, 0.5); 
    color: aliceblue;
    text-shadow: 0px 0px 20px #ff7474; 
    transition: transform 500ms ease;
}

.boton-2:hover {
    text-shadow: 0px 0px 20px #ff7474; 
    color: rgb(255, 118, 118); 
    border-color: rgb(255, 118, 118); 
    transform: translateY(-5px);
}

.boton-3 {
    background-color: rgba(0, 128, 0, 0.2); 
    border: 1px solid rgba(0, 128, 0, 0.5); 
    color: aliceblue;
    text-shadow: 0px 0px 20px #74ff74; 
    transition: transform 500ms ease;
}

.boton-3:hover {
    text-shadow: 0px 0px 20px #74ff74; 
    color: rgb(118, 255, 118); 
    border-color: rgb(118, 255, 118);
    transform: translateY(-5px);
}


