{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}Mi Portafolio{% endblock %}</title>
   {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   {% block extra_head %}
   {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% bootstrap_javascript %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
