{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio</title>
  <!-- FONSTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <!-- enlace css-->
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/detallee.css' %}">
</head>
  


<body>
  <img src="{% static 'images/example-detalles.jpg' %}" class="imagen-detalles  d-block w-100 " alt="...">

  <div class="container div-detalle mt-5  mx-auto ">
    <div class = "titulo col-6 mx-auto py-3 my-4">
      <h2>{{ proyecto.titulo }}</h2>
    </div>

    <div>
      <img class = "imagen-detalle-div col-11 col-sm-11  col-md-9  mx-auto p-5" src="{{ proyecto.imagen.url }}" alt="{{ proyecto.titulo }}" class="img-fluid">
    </div>

  <div class = "div-padre-desc my-5 p-5 mx-auto ms-3">
      <p class = "descripcion-descripcion p-1 ps-4"><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
      <div  class = "p-1 ps-4 " >
        <h3>Contenido Detallado</h3>
        <div>{{ proyecto.contenido|safe }}</div>  <!-- Usar el filtro 'safe' para permitir HTML -->
      </div>
      <p class = "p-1 ps-4" ><strong>Tecnologías:</strong> {{ proyecto.tecnologias.all|join:", " }}</p>

      <a href="{{ proyecto.link_sitio }}" class="boton-1 btn ms-2">Sitio Web</a>
      <a href="{{ proyecto.link_repositorio }}" class="boton-3 btn ms-2">Repositorio</a>
      <!-- IMAGEN DE DISEÑO -->
      <div>
        <img src="{% static 'images/example-detalles.jpg' %}" class="imagen-detalles-desc   w-100 " alt="...">
      </div>
      </div>
  </div>

{% endblock %}

</body>
</html>
