{% extends 'base_generic.html' %}

{% block content %}
    <div class = "container mt-5 text-light">
        <h2>Detalle contacto</h2>
        <p><strong>Nombre:</strong>{{contacto.nombre}}</p>
        <p><strong>Email:</strong>{{contacto.email}}</p>
        <p><strong>Mensaje:</strong>{{contacto.mensaje}}</p>
        <a href="{% url 'contacto_editar' contacto.pk %}" class = "btn btn-primary">Editar</a>


<form method="POST" action="{% url 'contacto_eliminar' contacto.pk %}"  
    style= "display: inline;">
  
    {% csrf_token %}
    <button type="submit" class = "btn btn-danger text-light">Eliminar</button>

    <button type="submit" class = "btn btn-primary text-light">Guardar</button>

</form>
    <a href="{% url 'contacto_lista' %}" class = "btn btn-secondary text-light">Volver a la lista</a>

</div>   
{% endblock %}
